{% extends "index.html" %}
{% block content %}
<div class="product-page">
    <h1>Featured Products</h1>
    <div class="product-container">
        {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image }}" alt="{{ product.name }}" class="product-image">
            <h3>{{ product.name }}</h3>
            <p class="product-price">₦{{ "{:,}".format(product.price) }}</p>
            <p class="product-qty">
                QTY: {{ product.qty }}
            </p>
            <p class="product-description">
                {{ product.description }}
            </p>
<button type="button"
    class="add-to-cart-btn"
    data-id="{{ product.id }}"
    data-name="{{ product.name }}"
    data-price="{{ product.price }}"
    data-image="{{ product.image }}">
    {{ product.button }}
</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}